<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/defaultTemplate">

<head>
    <meta charset="ISO-8859-1">
    <title>Orders</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Orders</h2>

    <table>
        <tr>
            <th>Order #</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.orderNo}">OrderNo</td>
            <td th:text="${order.productName}">Product</td>
            <td th:text="${order.price}">Price</td>
            <td th:text="${order.quantity}">Qty</td>
        </tr>
    </table>
</div>
</body>
</html>
